main{
  background-color: whitesmoke;
}
main .topPic {
  min-height: 300px;
  border-radius: 32px;
  background-image: url(https://www.google.com/imgres?imgurl=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fthumbnails%2F010%2F925%2F820%2Fsmall%2Fcolorful-welcome-design-template-free-vector.jpg&tbnid=poDAITmtyIOWjM&vet=12ahUKEwii9YW9qfOCAxV1nCcCHfLkAy4QMygAegQIARBH..i&imgrefurl=https%3A%2F%2Fwww.vecteezy.com%2Ffree-vector%2Fwelcome&docid=v-k5n4e_C90LFM&w=408&h=200&q=welcome&ved=2ahUKEwii9YW9qfOCAxV1nCcCHfLkAy4QMygAegQIARBH);
  font-family: "Pattaya", sans-serif;
  box-shadow: 0px 10px 22px 0px #000000;
  background-position: center;
  background-size: cover;
}

  .bigDomain{
    font-size: 1.8em;
    font-family: "Pattaya", sans-serif;

  }
  
nav .myScale{
  display: inline-block;
  letter-spacing: 1px;
  font-family: sans-serif;
  margin: 8px;
  text-decoration: none;
  color: black;
  transition: 1000ms;
}

nav .myScale:hover{
  transform: scale(1.2);
  letter-spacing: 2px;
  color: black;
}

.text1{
  font-family: 'Gloria Hallelujah', cursive;
  font-family: 'Playfair Display', serif;
  font-size: 1.3em;
}

.copyBtn{
  transition: 1000ms;
}

.copyBtn:hover{
  transform: scale(1.2);
  color: blue;
}
